.firstColumn {
    width: 5%;
}

.secondColumn {
    width: 25%;
}

.lastTwoColumns {
    width: 35%;
}

.cubing-icon {
    font-size: 6em;
}

.cubing-icon.event-fto:before {
    content: "\EA35";
}

.fit-content .tooltip-inner {
    max-width: fit-content;
}
